* {
  box-sizing: border-box;
}

body {
 background-color: #FFFF;
 /* background-color: #e6ffe6; */
 font-size: 15px;
 font-family: 'Nanum Gothic Coding', monospace;
 font-weight: 400;
}

.hero {
  height: 100vh;
  background: url('../photos/carnival.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* border: 30px solid #ffff;  */
  /* border: 35px solid #000000; */
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-weight: lighter;
  font-size: 50px;
}

h2 {
  text-align: center;
  font-weight: lighter;
  font-size: 40px;
}

h4, h3 {
  text-align: center;
  font-weight: lighter;
  font-size: 20px;
}

h2 span{
  border-bottom: 1.5px solid black;
  border-bottom-style: dashed;
}

/* BEGINNING OF MASONRY */

*, *:after, *:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
}

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

a {
	text-decoration: none;
}

a:hover,a:active {color: #333;}

img {
  border: 0;
  display: block;
  width: 100%;
}

.grid {
	max-width: 95em;
	list-style: none;
	margin: 100px auto;
	padding: 1;
}
.grid .item {
	display: block;
	float: left;
	padding: 10px;
	width: 33%;
	opacity: 1;
}

.grid .item a,.grid .item img {
	outline: none;
	border: none;
	/* display: block; */
	max-width: 100%;
}
.grid.effect-2 .item.animate {
	-webkit-transform: translateY(200px);
	transform: translateY(200px);
	-webkit-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}
@media screen and (max-width: 900px) {
	.grid .item {width: 50%;}
  .entry {box-shadow: none;}
  .entry > .grid > .item {width: 50%;}
}

@media screen and (max-width: 400px) {
	.grid .item {width: 100%;}
  .entry {padding: 20px 0;}
  .entry > p {padding: 10px;}
  .entry > .grid > .item {width: 100%;}
}
